
/* Projects */

#projects{
    color: #4B1A72;
    padding: 45px;
  }
  
  #projects h2{
    font-size: 4rem;
  }
  
  #projects > p{
    font-size: 2.5rem;
  }
  
  #projects .projects{
    margin-top: 40px;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  