
/* Projects */

#projects{
    color: #4B1A72;
    padding: 45px;
  }
  
  #projects h2{
    font-size: 4rem;
  }
  
  #projects > p{
    font-size: 2.5rem;
  }
  
  #projects .projects{
    margin-top: 40px;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  @media (max-width: 900px) {

    #projects{
      text-align: center;
      padding: 45px 10px;
    }

    #projects h2{
      font-size: 2.5rem;
    }
    
    #projects > p{
      font-size: 1.5rem;
    }

    #projects .projects{
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  