
/* About Me */
#aboutme{
    padding: 85px;
    color: #4B1A72;
  }
  
  #aboutme h2{
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  #aboutme p{
    font-size: 2.5rem;
    max-width: 813px;
  }